---
import Pill from "./SocialPill.astro";
const { title, img, Descripcion, link, tools } = Astro.props;
---

<a
  href=`${link}`
  target="_blank"
  class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow-sm md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 hover:scale-105 transition-all duration-300 ease-in-out"
>
  <img
    class="object-cover w-full h-96 rounded-t-lg md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
    src=`${img}`
    alt=`imagen de ${title}`
  />
  <div class="flex flex-col justify-between p-4 leading-normal">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {title}
    </h5>
    <p class="mb-3 text-sky-500 font-extralight italic">
      {Descripcion}
    </p>
  </div>
</a>
